html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
}

.btn {
  padding: 1rem 2.3rem;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 700;
  border-radius: 3rem;
  background-image: linear-gradient(
    to left,
    var(--Bright_Cyan),
    var(--Lime_Green)
  );
  color: var(--Light_Grayish_Blue);
}

.btn:hover {
  opacity: 0.7;
}

.nav {
  background-color: var(--White);
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
}

/* .logo {
  background-image: url(../images/logo.svg);
} */

.nav_menu {
  display: flex;
  list-style: none;
}

.nav_menu li a {
  text-decoration: none;
  display: flex;
  height: 5rem;
  margin: 0 1rem;
  align-items: center;
  font-size: 0.9rem;
  /* font-weight: bold;
  font-style: unset; */
  color: var(--Grayish_Blue);
  border-top: 4px none;
  border-bottom: 4px solid transparent;
}

.nav_menu li a:hover {
  border-bottom: 4px solid;
  border-image: linear-gradient(
      to left,
      var(--Bright_Cyan) 0%,
      var(--Lime_Green) 100%
    )
    1;
  font-weight: 700;
  color: var(--Dark_Blue);
}

.header {
  height: 85vh;
  background-color: var(--Very_Light_Gray);
  background-color: blue;
  background-image: url(../images/bg-intro-desktop.svg);
  background-repeat: no-repeat;
  background-position: left 43vw bottom -9vh;
}

.header_main {
  display: flex;
  height: 100%;
  align-items: center;
  /* justify-content: center; */
}

.header_main_info {
  background-color: red;
  width: 50%;
  /* padding: 3rem; */
}

.header_main_phone {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: yellow; */
}

.header_main_phone img {
  /* background-color: aqua; */
  /* height: 100%; */
  width: 110%;
  /* align-items: center; */
  /* justify-content: center; */
  /* margin-top: 100px; */
  margin-right: -185px;
  margin-top: 100px;
}

.header_main h1 {
  margin: 0;
  margin: 2rem 0;
  font-weight: 400;
  background-color: cornsilk;
}

.header_main p {
  margin: 0;
  margin: 1rem 0;
  background-color: aquamarine;
}

.header_main a {
  background-color: rgb(255, 127, 251);
}

.fondo-header {
  /* background-color: blueviolet; */
  width: 150rem;
}

/* Feel free to remove these styles or customise in your own stylesheet 👍 */
style .attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
